.odometer {
  background: #222222;
  font-family: "Libre Franklin", sans-serif;
  border: none;
  -moz-border-radius:    12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;

  margin: 19px auto; padding: 0;
  width: 520px;

  font-size: 8em;
  height:    148px;
  text-shadow: -1px -1px 0 rgba( 0, 0, 0, 0.3 );

  position: relative;
  overflow: hidden;

  background: linear-gradient(
    to bottom,
    #222222 0%,
    #333333 25%,
    #555555 35%,
    #333333 55%,
    #222222 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from( #222222 ),
    to(   #222222 ),
    color-stop( 0.25, #333333 ),
    color-stop( 0.35, #555555 ),
    color-stop( 0.55, #333333 )
  );
}

.odometer ul {
  list-style-type: none;
}

.odometer ul.odometer_column {
  display:  block;
  position: absolute;
  border-color: #1a1a1a;

  width:     1em;
  height:   14em;

  top: 0;
  margin: 0; padding: 0;
}

.odometer ul.odometer_column {
  border-right-width: 1px;
  border-right-style: solid;
}

.odometer ul.active li {
  color: #FFFFFF;
  -webkit-text-fill-color: rgba( 255, 255, 255, 0.95 );
}

.odometer ul.odometer_column li span {
  display: block;
  float:   right;
  width:   1em;
}

.odometer ul ul.odometer_column:last-child {
  border-left-width: 1px;
  border-left-style: solid;
}

.odometer .prefix {
  position: absolute;
  top:      -0.1em;
  left:        12px;
  font-size: 1.2em;
  color: #FFFFFF;
  -webkit-text-fill-color: rgba( 255, 255, 255, 0.95 );
  width:     0.6em;
}
