body {
  margin-top: 5em;
  background: #E36369;
  color:      #3B3B3B;
  text-align: center;
  font-family: Montserrat, "Open Sans", sans-serif;
  font-size: 18px;
}

h1, h2, h3 {
  margin: 0; padding: 0;
  letter-spacing: -0.05em;
  font-weight: normal;
  color: white;
  text-align: center;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.0em; }

p {
  font-size: 1.0em;
  padding:   0.2em;
  margin:    0;
}

.notes {
   text-align: left;
   color: rgba(59,59,59,0.6);
   font-size: 95%;
   font-weight: normal;
   width: 40%;
   margin: 0 auto 2em;
}

.notes p { font-size: 80%; }

.small { font-size: 70%; }

#display {
  background: #3B3B3B;
  padding: 2em;
  margin:  2em;
  -moz-border-radius:    30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;

  -webkit-box-shadow: 5px 5px 5px rgba( 0, 0, 0, 0.5 );
  -moz-box-shadow:    5px 5px 5px rgba( 0, 0, 0, 0.5 );
}

#form a { color: rgba(59,59,59,0.6); }

form.setup {
  background: #3B3B3B;
  padding:    1em;
  margin:     2em auto;
  min-width: 14em;
  max-width: 28em;
  font-size:  2em;
  -moz-border-radius:    20px;
  -webkit-border-radius: 20px;
}

form dt {
  clear: both;
  float: left;
  text-align: right;
  width:  12em;
  margin: 0;
  margin-left: 1.5em;
  padding-top: 0.1em;
  color: #FFFFFF;
  font-family: Montserrat, "Open Sans", sans-serif;
}

form dt p.small { font-size: 35%; }
form dt, form dd { height: 1.5em; }

form dd {
  text-align:   right;
  margin-left:   13em;
  margin-bottom:  1em;
  width:          37%;
}

dd input {
  margin: 0;
  width:     7em;
  font-size: 1em;
}

input:matches([type="button"], [type="submit"], [type="reset"], button) {
  font-size: 2em;
}

.error { color: #E36369; }
label.error {
  display:     block;
  font-size:   0.5em;
}

form.stop input {
   font-size: 2em;
}
